spring:
  application:
    name: appmaker-stage1

  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017/appmaker}

  # اگر می‌خواهی از یک دیتابیس رابطه‌ای محلی (H2) برای برخی ویژگی‌ها استفاده کنی:
  datasource:
    url: jdbc:h2:mem:appmaker;DB_CLOSE_DELAY=-1
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update

  flyway:
    enabled: false    # اگر از Mongo استفاده می‌کنی، بهتر است Flyway را غیرفعال کنی
    locations: classpath:db/migration



  ai:
    openai:
      # base-url: https://api.openai.com   # اختیاری؛ بدون /v1
      api-key: ${OPENAI_API_KEY:}
      timeout: 60s
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.2
          max-tokens: 1000

    huggingface:
      base-url: https://router.huggingface.co
      api-key: ${HF_API_KEY:}
      model: openai/gpt-oss-120b:groq

    ollama:
      base-url: http://localhost:11434
      chat:
        model: llama3:8b



server:
  port: 8080



logging:
  level:
    org.springframework.web.client: DEBUG
    org.springframework.ai.openai: TRACE
    org.springframework.http.converter.json: TRACE


