<!-- top bar header fragment -->
<div th:fragment="topbar(title, project)">
    <header class="topbar">
        <div class="topbar__inner">
            <!-- راست: عنوان صفحه -->
            <div class="topbar__title" th:text="${title}">عنوان صفحه</div>

            <!-- چپ: اکشن‌ها -->
            <div class="topbar__actions" style="display:flex;align-items:center;gap:8px">
                <a href="/home" class="btn btn-secondary">🏠</a>
                <form th:action="@{/logout}" method="post" class="inline">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button title="خروج" type="submit" class="btn btn-secondary">❌</button>
                </form>
            </div>
        </div>
    </header>
</div>
