<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خانه</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<div class="header"><h1>خوش آمدید</h1></div>
<div class="container"><p>اگر این صفحه را می‌بینی یعنی احراز هویت درست کار می‌کند.</p>
    <a th:href="@{/projects}">رفتن به پروژه‌ها</a>
    <a th:href="@{/vo-templates}" class="btn btn-secondary">Value Objects</a>
    <a th:href="@{/domain-props}" class="btn btn-secondary" style="margin-inline-start:8px;">Domain Properties</a>
    <a th:href="@{/templates}" class="btn btn-secondary" style="margin-inline-start:8px;">templates</a>
    <a th:href="@{/prompts}" class="btn btn-secondary" style="margin-inline-start:8px;">prompts</a>



</div>

</body>
</html>